
.items_empty_state{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    >span{
        font-weight: 700;
    }
}
.container{
    margin-top: 20px;
    overflow-y: auto;
    width: 100%;
    height: 400px;
    padding-bottom: 100px;
    background-color: #0f1416;
    border-radius: 8px;
}   

.reset_button_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}